#navbar {
    position: fixed;
    overflow: visible;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: min(1100px, 90%);
    padding: 10px 16px;

    border-radius: 999px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    z-index: 1000;
}


/*Mobile version*/
@media (max-width: 768px) {
    #navbar {
        top: auto;
        bottom: 20px;

        width: 90%;
        padding: 8px 12px;

        border-radius: 20px;
    }

    .bubble-menu {
        justify-content: space-between;
    }
}